@model MartialArts.Models.ViewModels.TestAttendanceViewModel
@{
    ViewData["Title"] = "TestAttendance";
}

<h1>Attendance for @Html.DisplayFor(model => model.Event.Title)</h1>
<p>(@Html.DisplayFor(model => model.Event.StartTime))</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="TestAttendance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="AllStudents" class="control-label"></label>
                <select asp-for="AllStudents" asp-items="ViewBag.Students" class="form-control"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="all_pass" /> @Html.DisplayNameFor(model => model.all_pass)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Events">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}